beautifulsoup4
black
coverage
google
google-api-python-client
google_auth_oauthlib
httpx
importlib_metadata
jinja2
markupsafe
openai
Pillow
pypdf
pytest
python-dateutil
python-docx
python-dotenv
PyYAML
requests
ruff
striprtf
truststore
vulture
